* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* body {
  background-color: rgb(204, 149, 68);
}

.navbar {
  background-color: rgb(28, 10, 0);
}
.navbar .container-fluid .navbar-brand .logo {
  width: 100px;
}

.seccion__footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(28, 10, 0);
  align-items: center;
}
.seccion__footer .seccion__pagos .pagos__titulo {
  text-align: center;
  color: rgb(255, 216, 169);
}
.seccion__footer .seccion__pagos .pagos__imagen {
  width: 200px;
}
.seccion__footer .seccion__contactanos .contactanos__titulo {
  color: rgb(255, 216, 169);
  text-align: center;
}
.seccion__footer .seccion__contactanos .contactanos__list {
  margin-top: 10px;
  list-style-type: none;
}
.seccion__footer .seccion__contactanos .contactanos__list .contactanos__texto {
  color: rgb(255, 216, 169);
}

@media screen and (max-width: 550px) {
  .seccion__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
.icono__whatsapp {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.icono__whatsapp .whatsapp__imagen {
  width: 70px;
}

.piedepagina {
  text-align: center;
  background-color: rgb(28, 10, 0);
  color: rgb(255, 216, 169);
  padding: 10p;
  margin-bottom: 0px;
}

.inicio {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.inicio .seccion__descripcion {
  width: 40%;
  margin-top: 75px;
}
.inicio .seccion__descripcion .titulo__inicio {
  text-align: center;
  font-size: 45px;
}
.inicio .seccion__descripcion .texto__inicio {
  text-align: center;
  font-size: 25px;
  margin: 10px;
}
.inicio .seccion__imagen {
  margin-top: 75px;
  margin-right: 10px;
}
.inicio .seccion__imagen .imagen__inicio {
  width: 325px;
  height: auto;
  border-radius: 8px;
  border: 3px solid rgb(28, 10, 0);
}
.inicio .seccion__imagen .boton__inicio {
  background-color: rgb(204, 149, 68);
  border: 1.5px solid rgb(28, 10, 0);
  display: flex;
  margin-left: 115px;
  margin-top: 15px;
  transition: all 0.2s;
}
.inicio .seccion__imagen .boton__inicio .letraboton__inicio {
  color: rgb(28, 10, 0);
}
.inicio .seccion__imagen .boton__inicio:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.seccion__imagen2 {
  width: 90%;
  margin: 0 auto;
}
.seccion__imagen2 .imagen2__inicio {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 3px solid rgb(28, 10, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 900px) {
  .inicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .inicio .seccion__descripcion {
    width: 90%;
  }
  .inicio .seccion__descripcion .titulo__inicio {
    font-size: 35px;
  }
  .inicio .seccion__descripcion .texto__inicio {
    font-size: 25px;
  }
  .inicio .seccion__imagen {
    margin-top: 50px;
    margin-right: 0px;
  }
  .inicio .seccion__imagen .imagen__inicio {
    width: 280px;
    border-radius: 5px;
  }
  .inicio .seccion__imagen .boton__inicio {
    margin-left: 85px;
    margin-top: 15px;
    margin-bottom: 50px;
    transition: all 0.2s;
  }
}
@media screen and (max-width: 600px) {
  .seccion__imagen2 {
    display: none;
  }
}
.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 20px;
}
.productos .imagen__productos {
  width: 80%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
}
.productos .imagen__productos .imagen {
  width: 90%;
  transition: all 0.3s;
  margin-top: 60px;
  margin-left: 30px;
}
.productos .imagen__productos .imagen:hover {
  transform: scale(1.1) translateY(-40px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.productos .imagen__productos .boton__productos {
  background-color: rgb(204, 149, 68);
  border: 1.5px solid rgb(28, 10, 0);
  display: flex;
  margin: 0 auto;
  text-decoration: none;
  transition: all 0.3s;
}
.productos .imagen__productos .boton__productos:hover {
  transform: scale(1.1);
}
.productos .imagen__productos .boton__productos .letraboton__productos {
  color: rgb(28, 10, 0);
}

@media screen and (max-width: 1200px) {
  .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    padding: 10px;
  }
}
.nosotros .titulo__nosotros {
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
}
.nosotros .texto__nosotros {
  margin-bottom: 25px;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
  font-size: 20px;
}
.nosotros .texto1__nosotros {
  margin-bottom: 100px;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
  font-size: 20px;
}

.imagen__preguntas {
  width: 92%;
  margin: 50px;
  border-radius: 8px;
  border: 3px solid rgb(28, 10, 0);
}

@media screen and (max-width: 1300px) {
  .imagen__preguntas {
    width: 90%;
    margin: 20px;
  }
}
@media screen and (max-width: 700px) {
  .imagen__preguntas {
    width: 90%;
    margin: 40px;
  }
}
@media screen and (max-width: 500px) {
  .imagen__preguntas {
    width: 90%;
    margin: 20px;
  }
}
.contacto .titulo__contacto {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.contacto .comunicate__contacto {
  display: flex;
  margin-top: 50px;
  margin-bottom: 60px;
  justify-content: space-around;
}
.contacto .comunicate__contacto .iconos__contacto {
  width: 50px;
  transition: all 0.3s;
}
.contacto .comunicate__contacto .iconos__contacto:hover {
  transform: scale(1.2);
}
.contacto .imagen__contacto {
  width: 95%;
  height: auto;
  margin: 30px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.imagen__contacto {
  width: 90%;
  height: auto;
  margin: auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/*# sourceMappingURL=style.css.map */
