/*GENERAL*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
.icono__whatsapp{
    position:fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.whatsapp__imagen{
    width: 70px;
}

body{
    background-color: rgb(204, 149, 68);

}


/*HEADER*/

.backround__nav{
    background-color:rgb(28, 10, 0) ;
}

.logo{
    width: 100px;
}


/*FOOTER*/

.pagos__imagen{
    width: 200px ;
}

.seccion__footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color:  rgb(28, 10, 0) ;
    align-items: center;
}

.contactanos__list{
    margin-top: 10px;
    list-style-type: none;
    
}

.piedepagina{
    text-align: center;
    background-color: rgb(28, 10, 0);
    color:rgb(255, 216, 169);;
}

.pagos__titulo{
    text-align: center;
    color: rgb(255, 216, 169);
}

.contactanos__texto{
    color: rgb(255, 216, 169);
}

.contactanos__titulo{
    color: rgb(255, 216, 169);
}

/*INICIO*/


.inicio{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "seccion__descripcion seccion__imagen"
    "seccion__imagen2     seccion__imagen2";
}

.seccion__descripcion{
    grid-area: seccion__descripcion;
    margin-top: 75px;
    margin-left: 100px;
    margin-right: 100px;
}

.seccion__imagen{
    grid-area: seccion__imagen;
    margin-top: 75px;
    margin-left: 200px;
}

.boton__inicio{
    background-color: rgb(204, 149, 68);
    border: 1.5px solid rgb(28, 10, 0) ;
    display: flex;
    margin-left: 115px;
    margin-top: 15px;
    transition: all .2s;
}

.boton__inicio:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.boton__inicio a{
    color: rgb(28, 10, 0);
}

.seccion__imagen2{
    grid-area: seccion__imagen2;
}

.imagen__inicio{
    width: 325px;
    height: auto;
    border-radius: 8px;
    border: 3px solid rgb(28, 10, 0) ;
}

.imagen2__inicio{
    width: 96%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
    border: 3px solid rgb(28, 10, 0) ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.titulo__inicio{
    text-align: center;
    font-size: 45px;
}

.texto__inicio{
    text-align: center;
    font-size: 25px;
    margin: 10px;

}


/*PRODUCTOS*/

.productos{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "imagen__productos  imagen1__productos imagen2__productos"
    "imagen3__productos imagen4__productos imagen5__productos";
    margin: 120px;
}

.imagen__productos{
    grid-area: imagen__productos;
}

.imagen1__productos{
    grid-area: imagen1__productos;
    
}

.imagen2__productos{
    grid-area: imagen2__productos;
    
}

.imagen3__productos{
    grid-area: imagen3__productos;
    
}

.imagen4__productos{
    grid-area: imagen4__productos;
    
}

.imagen5__productos{
    grid-area: imagen5__productos;
    
}

.imagen{
    width: 75%;
    transition: all .3s;
}

.imagen:hover{
    transform: scale(1.1) translateY(-40px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}



.boton__productos{
    background-color:rgb(204, 149, 68) ;
    border: 1.5px solid rgb(28, 10, 0) ;
    display: flex;
    margin-top: 20px;
    margin-left: 115px;
    text-decoration: none;
    transition: all .3s;
}

.boton__productos:hover{
    transform: scale(1.1);
}


.boton__productos a {
    color: rgb(28, 10, 0);
}


/*NOSOTROS*/

.titulo__nosotros{
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 30px;

}
.texto__nosotros{
    margin-bottom: 25px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    font-size: 20px;
}

.texto__nosotros1{
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    font-size: 20px;

}


/*PREGUNTA FRECUENTES*/

.titulo__preguntas{
    margin: 10px;
    font-size: 30px;
}

.subtitulo__preguntas{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.texto__preguntas{
    font-size: 18px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align:center;
}

.imagen__preguntas{
    width: 92%;
    margin: 50px;
    border-radius: 8px;
    border: 3px solid rgb(28, 10, 0) ;
}

/*CONTACTO*/

.imagen__contacto{
    width: 95%;
    height: auto;
    margin: 30px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.titulo__contacto{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.comunicate__contacto{
    display: flex;
    margin-top: 50px;
    margin-bottom: 60px;
    justify-content: space-around;
}

.iconos__contacto{
    width: 50px;
    transition: all .3s;
}

.iconos__contacto:hover{
    transform: scale(1.2);
}


/*MEDIA QUERE*/

@media screen and (max-width: 1300px) {

    .subtitulo__preguntas{
        font-size: 22px;
        margin-top: 20px;
    }

    .texto__preguntas{
        font-size: 18px;
        margin-left: 300px;
        margin-right: 300px;
    }

    .imagen__preguntas{
        width: 92%;
        border-radius: 3px;
        border: 1.5px solid rgb(28, 10, 0) ;
    }

    .titulo__preguntas{
        margin: 30px;
        font-size: 20px;
    }

}

@media screen and (max-width: 910px) {
    .subtitulo__preguntas{
        font-size: 22px;
        text-align: center;
        margin-top: 20px;
    }

    .texto__preguntas{
        font-size: 18px;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 30px;
        margin-top: 10px;
        text-align:center;
    }

    .imagen__preguntas{
        width: 92%;
        margin: 50px;
        border-radius: 3px;
        border: 1.5px solid rgb(28, 10, 0) ;
    }

    .titulo__preguntas{
        margin: 30px;
        font-size: 20px;
    }

    
}
